<p id="notice"><%= notice %></p>

<h1>
  <%= @card.title %>
</h1>
<h3>By user: <%=UsersController.get(@card.user_id).username%> </h3>
<p>
  <strong>Category:</strong>
  <%= @card.category %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @card.comments %>
</p>

<p>
  <strong>Views:</strong>
  <%= @card.views %>
</p>
<p>
  <%= @card.created_at %>
</p>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
