<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @card.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @card.category %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @card.comments %>
</p>

<p>
  <strong>Views:</strong>
  <%= @card.views %>
</p>

<p>
  <strong>User:</strong>
  <%= @card.user_id %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
