<!DOCTYPE html>
<html>
  <head>
    <% provide(:title,'Home') %>
  </head>
  <body>
    <main>
      <div>
        <filters>
          <div>Recent Post</div>
          <div>Selected Post</div>
          <div>My Settings</div>
          <div>Search</div>
          <%if logged_in?%>
            <%= link_to new_card_path do %>
              <div id="new_post">New Post</div>
            <% end %>
          <% else %>
            <%= link_to login_path do %>
              <div id="new_post">New Post</div>
            <% end %>
          <% end %>

        </filters>
        <div id="cards_container">
          <% CardsController.sortasc.first(10).each do |card| %>
            <div id="grid">
              <h3 id="card_title"><a href="cards/<%=card.id%>"><%=card.title%></a></h1>
              <div><div class="card_line"><%=UsersController.get(card.user_id).username%></div><div class="card_line card_timestamp"><%=card.created_at%></div><div class="card_line"><%= TopicsController.get(card.category).title%></div></div>
              <div class="card_justify"><div class="card_line_comments"><%=image_tag("comments.png", size: "30", alt: "Comments")%><%=card.comments%></div><div class="card_line card_comments"><%=image_tag("views.png", size: "30", alt: "Comments")%><%=card.views%></div></div>
            </div>
          <% end %>
        </div>
      </div>
      <div>Recent Users</div>
    </main>

  </body>
</html>